<div class="row">
    <div class="col-md-5 col-sm-5">
        <div class="form-group">
            <label>Type de chambre:</label><br>
            <div>
                {{ form_widget(form.roomtype) }}
                {{ form_errors(form.roomtype) }}
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-sm-offset-1 col-md-offset-1">
        <div class="form-group">
            <label >Nombre de personnes:</label><br>
            <div>
                {{ form_widget(form.nbpersonnes) }}
                {{ form_errors(form.nbpersonnes) }}
            </div>
        </div>
    </div>
</div>


