<div class="form-group">
    <label>Spécialité:</label><br>
    <div>
        {{ form_widget(form.specialities) }}
        {{ form_errors(form.specialities) }}
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-5">

    </div>
    <div class="col-md-5 col-sm-5 col-sm-offset-1 col-md-offset-1">

    </div>
</div>