{% extends 'dashboard_layout.html.twig' %}

{% block active_page %}Messages{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="left-box">
                        <select class="form-control input-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="right-box">
                        <div class="filter-search-box text-right">
                            <input type="search" class="form-control input-sm" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="inbox-message">
                    <ul>
                        <li>
                            <a href="chatting.html">
                                <div class="message-avatar">
                                    <img src="assets/img/img-1.jpg" alt="">
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">
                                        <h5>Daniel Dock <span class="unread">Unread</span></h5>
                                        <span>7 hours ago</span>
                                    </div>
                                    <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chatting.html">
                                <div class="message-avatar">
                                    <img src="assets/img/img-2.jpg" alt="">
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">
                                        <h5>Daniel Dock <span class="unread">Unread</span></h5>
                                        <span>7 hours ago</span>
                                    </div>
                                    <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chatting.html">
                                <div class="message-avatar">
                                    <img src="assets/img/img-3.jpg" alt="">
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">
                                        <h5>Daniel Dock <span class="pending">Pending Work</span></h5>
                                        <span>7 hours ago</span>
                                    </div>
                                    <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chatting.html">
                                <div class="message-avatar">
                                    <img src="assets/img/img-4.jpg" alt="">
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">
                                        <h5>Daniel Dock <span class="unread">Unread</span></h5>
                                        <span>7 hours ago</span>
                                    </div>
                                    <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chatting.html">
                                <div class="message-avatar">
                                    <img src="assets/img/img-2.jpg" alt="">
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">
                                        <h5>Daniel Dock <span class="business">Business</span></h5>
                                        <span>7 hours ago</span>
                                    </div>
                                    <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chatting.html">
                                <div class="message-avatar">
                                    <img src="assets/img/img-1.jpg" alt="">
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">
                                        <h5>Daniel Dock <span class="important">Important</span></h5>
                                        <span>7 hours ago</span>
                                    </div>
                                    <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chatting.html">
                                <div class="message-avatar">
                                    <img src="assets/img/img-3.jpg" alt="">
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">
                                        <h5>Daniel Dock <span class="unread">Unread</span></h5>
                                        <span>7 hours ago</span>
                                    </div>
                                    <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}